<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <rosparam command="load" file="$(find point_lio_unilidar)/config/ekf_odom.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered/odom"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <rosparam command="load" file="$(find point_lio_unilidar)/config/ekf_map.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered/map"/>
  </node>

  <node pkg="point_lio_unilidar" type="gps_to_odom_node.py" name="gps_to_odom" />

  <node pkg="point_lio" type="point_lio_mapping" name="point_lio_mapping" output="screen">
      <remap from="/odom_in" to="/odometry/filtered/odom" />
      <remap from="/imu_in" to="/imu/data" />
  </node>
</launch>